.fondoItem {
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: #fff;
}

.sexo {
    font-size: 40px;
}
.estiloNumero {
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}
.form-range {
    padding: 0px 20px;
}
input[type=range]::-webkit-slider-thumb{
    background-color: #ff3366;
}
.sumaResta{
    cursor: pointer;
    background-color: #ff4c4f5e;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.sexoDesactivo {
    background-color: #7d22f233;
}