<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">Resultado</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p class="resultado">{{rsultado}}</p>
                        <p class="estiloNumero">{{bmi}}</p>
                        <p class="interpretacion">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col lg-12">
                <button routerLink="/" class="btn btn-primary btn-lg btn-color">RECALCULAR</button>
            </div>
        </div>


    </div>
</div>